@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;700;800&family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  height: 65px;
}

header.navbar-container {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  padding: 18px 100px;
}

#text {
  display: flex;
  justify-content: center;
}

header.navbar-container .menu ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
}

header.navbar-container .menu li {
  list-style-type: none;
  align-items: center;
}

header.navbar-container .menu li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2 ease-in-out;
}

header.navbar-container .menu li:hover a {
  color: #002662;
}

.side-img {
  width: 50;
}

.btn-cta {
  padding-top: 20px;
  width: 40%;
}
.btn-cta button {
  width: 80%;
  height: 45px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  background-color: #002662;
  color: aliceblue;
  letter-spacing: 1px;
}


@keyframes slide-in {
  0% {
      transform: translateX(-20%);
  }

  100% {
      transform: translateX(0);
  }
}

main #description {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-left: 3rem;
  padding-top: 65px;
  flex: 1;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
}

main div.desc {
  padding-right: 10px;
}

#description p.book {
  font-size: 13px;
  font-weight: 700;
  line-height: 120%; /* 15.6px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-bottom: 32px;
}

#description h1 {
  line-height: 120%;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 32px;
}

#description p.book-desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

div.content {
  display: flex;
}

div.form {
  padding-right: 39px;
  padding-left: 42px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.form-text img {
  margin-top: 110px;
}

div.form-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

div.form-text h1 {
  color: #1d2433;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 120%; /* 24px */
  padding-top: 24px;
  padding-bottom: 5px;
}

div.form-text p.text {
  color: #4a505c;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.2px;
  padding-bottom: 20px;
}

div.form-group {
  display: flex;
  margin-top: 16px;
}

div.form-group select {
  width: 100%;
  border-color: rgba(241, 241, 241, 1);
  background-color: rgba(255, 255, 255, 1);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-family: "Roboto";
  font-weight: 400;
  padding-left: 5px;
}

div.form-group #date {
  width: 100%;
  border: 1px solid rgba(241, 241, 241, 1);
  background-color: rgba(255, 255, 255, 1);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-family: "Roboto";
  font-weight: 400;
  padding-left: 10px;
}

/* Change Date Icon */

form div.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

form div.btn button {
  width: 100%;
  height: 46px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  background-color: #002662;
  color: aliceblue;
  letter-spacing: 1px;
}

form div.btn-cari {
  width: 100%;
}

form div.btn2 button {
  width: 100%;
  height: 46px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  background-color: #c5e0f7;
  color: #002662;
  letter-spacing: 1px;
}

form div.btn div.btn-cek {
  width: 100%;
}

form div.btn button:hover {
  background-color: #01193f;
  color: aliceblue;
}

form div.btn2 button:hover {
  background-color: #acd8ff;
  color: #002662;
}

div.form div.copyright {
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  margin-top: 82%;
}

div.form div.copyright p {
  align-items: center;
}

/* Hamburger Menu */
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #010051;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* @media (max-width: 700px) {
  div.hero img {
    display: none;
  }
  .menu-button-container {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #003b95;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: rgb(15, 0, 71);
    background-color: #ffffff;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #ffffff;
  }
 */
